.fas {
    font-size: 48px;
    position: relative;
    margin-left: -10px;
}

.auth_display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth_display > * {
    margin-bottom: 40px;
}

.auth_display > button {
    /* padding: 20px 0; */
}