@import "~antd/dist/antd.css";

.fas {
  font-size: 48px;
  position: relative;
  margin-left: -10px;
}

.auth_display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_display > * {
  margin-bottom: 40px;
}

.auth_display > Checkbox{
  color: red
}

.auth_display > button {
  /* padding: 20px 0; */
}

h3 {
  color: #808080;
}

#project-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  max-height: 100%;
  object-fit: cover;
}

.container{
  background-color:	#F5F5F5;
}